header {
    height: 30px;
    background-color: #F5F7F8;
    padding: 12px;
}
#head {
    margin-top: 10px;
}
#tel{
    margin-left: 20px;
    margin-right: 900px;
}
a {
    margin-right: 30px;
    font-size: 18px;
    text-decoration: none;
    color: rgba(146, 109, 109, 0.8);
}
a:hover {
    color: magenta;
}
nav {
    margin-top: 20px;
}
nav a{
    margin-left: 30px;
    color: #176B87;
}
#tap {
    margin-right: 300px;
    margin-left: 60px;
}
#try {
    border: 2px solid rgb(171, 147, 147);
    padding: 15px;
}
#try:hover {
    background-color: #940B92;
    color: white;
}
section {
    background-color: #4682A9;
    padding-top: 30px;
    margin-top: 30px;
    color: azure;
}
#one {
    width: 700px;
    margin-left: 100px;
    padding-top: 100px;
}
#img {
    margin-left: 1000px;
    margin-top: -250px;
}
section h1{
    font-size: 40px;
}
section p{
    font-size: 20px;
    font-family: cursive;
    color:black
}
aside {
    background-color: #749BC2;
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;
    height: 580px;
}
aside h1 {
    font-size: 40px;
}
aside p {
    font-size: 20px;
    font-family:monospace;
}
aside i {
    color:greenyellow;
}
aside img {
    margin-left: 20px;
}
article {
    background-color: #91C8E4;
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;
    height: 1500px;
}
article h1 {
    font-size: 40px;
}
article p {
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
article i {
    color:gold;
}
article img {
    margin-left: 50px;
}
footer {
    background-color: #190482;
    padding-top: 30px;
    padding-left: 200px;
    color: white;
    height: 550px;
    margin-top: 10px;
}
footer a {
    color:chartreuse;
}
.links {
    margin-left: 500px;
    margin-top: -200px;
}
.policies {
    margin-left: 1000px;
    margin-top: -250px;
}
.images {
    margin-left: 1000px;
    margin-top: 30px;
}
footer a:hover {
    color :coral;
}
